trigger: none

pool:
  name: pool-local-docker

steps:
- powershell: |
    Write-Host "Running on self-hosted agent..."
    Write-Host "Machine:"
    hostname
    Write-Host "WhoAmI:"
    whoami
    Write-Host "Docker version:"
    docker version
  displayName: "Test self-hosted agent + docker"
