services:
  sql-dev:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql-dev
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${SQL_SA_PASSWORD_DEV}"
    ports:
      - "14331:1433"
    networks:
      - db-cicd-net

  sql-qa:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql-qa
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${SQL_SA_PASSWORD_QA}"
    ports:
      - "14332:1433"
    networks:
      - db-cicd-net

  sql-staging:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql-staging
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${SQL_SA_PASSWORD_STAGING}"
    ports:
      - "14333:1433"
    networks:
      - db-cicd-net

  sql-prod:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql-prod
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${SQL_SA_PASSWORD_PROD}"
    ports:
      - "14334:1433"
    networks:
      - db-cicd-net

  db-init:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db-init
    depends_on:
      - sql-dev
      - sql-qa
      - sql-staging
      - sql-prod
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
    volumes:
      - ./init:/init
    networks:
      - db-cicd-net
    entrypoint: ["/bin/bash", "/init/init-db.sh"]

networks:
  db-cicd-net:
    name: db-cicd-net
